---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Diciembre 2023",
    title: "Software para la gestión dental de la Clínica Dental Calderón",
    description:
      "Desarrollé un software que ayudó a mejorar el control de citas, tratamientos, pagos e historial de pacientes. Desapareciendo los tiempos de espera en los clientes y la perdida de datos.",
    link: "https://github.com/Panitou",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
