---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "julio 2024 - actualidad",
    title: "Desarrollador Front-end",
    description:
      "Prácticas preprofesionales en el área de Front-end usando React.js, JavaScript, HTML, TailwindCSS, Postman y Git.",
    link: "https://github.com/Panitou",
  },
  {
    date: "julio 2023 - diciembre 2023",
    title: "Software para la gestión dental de la Clínica Dental Calderón",
    description:
      "Desarrollé un software que ayudó a mejorar el control de citas, tratamientos, pagos e historial de pacientes. Desapareciendo los tiempos de espera en los clientes y la perdida de datos.",
    link: "https://github.com/Panitou",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
