---
import PanitoLogo from "../assets/logo-panito.jpg";
---

<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
  <img class="rounded-full w-12 h-12" src={PanitoLogo.src} alt="panito-logo" />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="">Inicio</a>
    <a href="./About">Sobre mi</a>
    <a href="./Projects">Proyectos</a>
  </nav>
</header>
